<div class="toolbar" role="banner">
    <img
      width="300"
      height="90"
      src="../../assets/images/e-library-positive.png"
      alt="E-Library-Logo"
      
    />
    <h1 class="name">The Elecronic Library of NSBM</h1>
      <div class="spacer"></div>
      <a aria-label="National School of Bussiness Management" target="_blank" rel="noopener" href="https://www.nsbm.ac.lk" title="National School of Bussiness Management">
        <img
          width="140"
          height="60"
          background-color="black"
          alt="NSBM Logo"
          src="../assets/images/logo.png"
        />
      </a>
  </div>
  <!-- <router-outlet></router-outlet> -->
