.toolbar{
    background-color: #1976d2;
    color: white;
}

.iconButton, .category{
    background-color: #1976d2;
    border: none;
    color: white;
    align-items: center;
}

.example-spacer {
    flex: 1 1 auto;
  }
