<mat-toolbar>Admin Panel
    <span class="example-fill-remaining-space"></span>
  <span>Add Books</span>
    <span class="example-fill-remaining-space"></span>
  <span>Logout</span>
</mat-toolbar>
<div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Input Book Name</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Input Book Author</mat-label>
        <input matInput>
      </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Select Book Category</mat-label>
      <mat-select>
        <mat-option value="option">Magazine</mat-option>
        <mat-option value="option">Research Artical</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Brief Description(max 100)</mat-label>
      <textarea matInput maxlength="100">
      </textarea>
    </mat-form-field>
    <br>
    <button id="submit" mat-flat-button color="primary">Add Book</button>
  </div>
  

