
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="260"
    height="100"
    alt="e-library Logo"
    src="../assets/images/e-library.jpeg"
  />
  <h1>The Elecronic Library of NSBM</h1>
    <div class="spacer"></div>
    <a aria-label="National School of Bussiness Management" target="_blank" rel="noopener" href="https://www.nsbm.ac.lk" title="NSBM">
      <img
        width="40"
        height="50"
        alt="NSBM Logo"
        src="../assets/images/logo.png"
      />
    </a>
</div>

<div class="content" role="main">


</div>



<router-outlet></router-outlet>