<div class="Main">
    <app-landing-nav></app-landing-nav>
    <div class="content">
      <h2>Keep <br/> Studying<br/>
        With E-Library</h2>
   <h6>Donec id elit non mi horta gravida<br/>
      at eget metus. Fusce dapibus, tellus<br/>
      ac cursus commodo, tortor mauris <br/>
      condimentum nibh, ut fermentum <br/> 
      massa justo sit amet risus.<br/>
      Etiam porta sem malesuada magna <br/> mollis euismod.<br/>
      Donec sed odio dui. </h6>
      <a routerLink="/enter-page" routerLinkActive="active">
        <button mat-button class="btn" color="primary" title="Start Learning">Start Learning</button> 
        </a>
  </div>

<router-outlet></router-outlet>