.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .toolbar{
      background-color: #1976d2;
      color: white;
  }

  .example-container {
    width: 500px;
    height: 100%;
    background-color: white;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    
  }
  
  .example-sidenav {
    padding: 20px;
    width: 200px;
    background-color: white;
    border: 5px solid rgba(2, 85, 863, 0.5);
  }
  .iconButton{
      background-color: rgba(255, 255, 255, 0);
      border: none;
  }