<mat-toolbar >  
    <mat-toolbar-row class="toolbar">
        <button class="iconButton"  mat-button (click)="drawer.toggle()" mat-icon-button aria-label="Example icon-button with a menu">
            <mat-icon>view_headline</mat-icon>
          </button>
      <span>Books</span>
      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu" class="category">Categories</button>
      <mat-menu #menu="matMenu">
      <button mat-menu-item>Computing</button>
      <button mat-menu-item>Bussiness</button>
      <button mat-menu-item>Electronic</button>
      <button mat-menu-item>Media</button>

      </mat-menu>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">account_circle</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    
        
  </mat-drawer>

</mat-drawer-container>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="get" (click)="openBottomSheet()">Get this book</button>
    </mat-card-actions>
</mat-card>

  
  
  
  